.page {
  width: 70%;
  padding: 3% 0 0;
  margin: auto;
}
.form h1{
  text-align: center;
  margin-bottom: 5%;
}
.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#status{
  width: 5%;
}
#geral{
  background: #dfe4ea;
  padding: 20px;
  border-radius:10px;
  margin-bottom: 30px;
}
#projeto{
  background: #ced6e0;
  padding: 20px;
  border-radius:10px;
  margin-bottom: 30px;
}
#exemplo{
  background: #dfe4ea;
  padding: 20px;
  border-radius:10px;
  margin-bottom: 30px;
}
.form label{
  font-size: 16px;
}
.form input{
  font-family: Times;
  background: #FFFFFF;
  width: 100%;
  border: 0;
  margin: 0 0 20px;
  padding: 16px;
  box-sizing: border-box;
  font-size: 16px;
}

.form textarea {
  font-family: Times;
  background:#FFFFFF;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 16px;
  box-sizing: border-box;
  font-size: 16px;
}
#cancelar {
  font-family: Times;
  text-transform: uppercase;
  outline: 0;
  background: #34495e;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5%;
  border-radius: 10px;
}

#cadastro{
  font-family: Times;
  text-transform: uppercase;
  outline: 0;
  background: #34495e;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 20%;
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: white;
}

body {
  background: #16a085; 
  font-family: Times;  
}
h2{
  text-align: center;
  margin-bottom: 5%;
}

/************************************************/
